* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-white: #f1faee;
    --red: rgba(230, 57, 71, 1);
    --dark-blue: #1d3557;
    --light-blue:#457b9d;
    --aqua-blue:#a8dadc;
    --heading-font: 'Press Start 2P', cursive;
    --main-font: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    background-color: var(--primary-white);
}

header {
    padding: 2% 0 2% 0;
    display: flex;
    background-color: var(--dark-blue);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav {
    background-color: var(--primary-white);
    padding: 0 15px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-white);
    font-size: 2.5rem;
}

h2, h3 {
    color: var(--dark-blue);
    font-family: var(--main-font);
}

p {
    margin: 0;
    font-family: var(--main-font);
}


a {
    font-family: var(--main-font);
    color: var(--dark-blue);
    font-size: 2rem;
}

.stripe-banner {
    margin-top: 0;
    min-height: 15vw;
    background-image: linear-gradient(45deg, #e63946 10%, #f1faee 10%, #f1faee 20%, #a8dadc 20%, #a8dadc 30%, #457b9d 30%, #457b9d 40%, #1d3557 40%, #1d3557 50%, #e63946 50%, #e63946 60%, #f1faee 60%, #f1faee 70%, #a8dadc 70%, #a8dadc 80%, #457b9d 80%, #457b9d 90%, #1d3557 90%, #1d3557 100%);
    background-size: 141.42px 141.42px;
    background-attachment: fixed;
    background-color: var(--aqua-blue);
    background-blend-mode: overlay;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    padding: 2% 6%;
}

.img-me {
    background-image: url(../osaxon/img/Me.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.stripe-banner h3 {
    margin-top: 0;
}


.wrapper {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid var(--dark-blue);
    font-style: italic;
    font-size: 4vw;
    line-height: 1.5;
}

.page-section > div {
    flex: 0 0 77%;
    margin-top: 20px;
    line-height: 1.5;
}

.page-section p {
    margin-bottom: 20px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.project {
    border: solid 3px var(--aqua-blue);
    display: flex;
    flex-direction: column;
    background-color: var(--primary-white);
    min-height: 200px;
    max-height: 300px;
    flex: 1 1 40%;
    text-decoration: none;
    font-size: 1.5rem;
    background-attachment: scroll;
    background-blend-mode: multiply;
    background-position: bottom;
    background-size: 120%;
    background-repeat: no-repeat;
}

.project:first-child {
    background-attachment: fixed;
    background-size: 80%;
    min-width: 300px;
    min-height: 300px;
    flex-basis: 100%
}

/* Images for project boxes */
.surf {
    background-image: url(../osaxon/img/surf.jpg);
}

.LED {
    background-image: url(../osaxon/img/LED.jpg);
}

.calc {
    background-position: left center;
    background-image: url(../osaxon/img/calc.jpg)
}

.pastel {
    background-image: url(../osaxon/img/pastel.jpg);
}

.run {
    background-image: url(../osaxon/img/run.jpg);
}
/* End of images */


@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        text-align: center;
        padding: 2% 0 0 0%
    }

    nav {
        width: 100vw;
        justify-content: center;
    }

    h1 {
        width: 100vw;
        padding: 5px;
        margin-top: 5px;
        font-size: 3rem;
    }

    .page-section > h2 {
        flex: 0 0 100%;
        text-align: left;
        border-right: none;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .page-section > div {
        flex: 0 0 100%;
    }

    .page-section {
        margin-top: 10px;
    }

    nav {
        margin-top: 2.5%;
    }
}

@media screen and (max-width: 768px) {
    .project, .project:first-child {
        flex-basis: 100%;
    }

    .project:first-child {
        min-height: 200px;
        min-width: 250px;
        background-attachment: scroll;
        background-size: cover;
    }

    .stripe-banner {
        justify-content: center;
        text-align: center;
    }

    header h1 {
        font-size: 2.5rem;
    }

    nav a{
        font-size: 1.3rem;
    }
}

