* {
    box-sizing: border-box;
}

:root {
    --primary-white: #f1faee;
    --red: rgba(230, 57, 70, 0.90);
    --dark-blue: #1d3557;
    --light-blue:#457b9d;
    --aqua-blue:#a8dadc;
    --heading-font: 'Press Start 2P', cursive;
    --main-font: 'Oxygen', sans-serif;
}

body {
    margin: 0;
    background-color: var(--primary-white);
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    background-color: var(--dark-blue);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-family: var(--heading-font);
    color: var(--primary-white);
    font-size: 2.5rem;
}

h2 {
    color: var(--dark-blue);
    font-family: var(--main-font);
}

p {
    margin: 0;
    font-family: var(--main-font);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--primary-white);
}

nav a {
    text-decoration: underline;
    font-family: var(--main-font);
    padding: 5px 10px;
    color: var(--dark-blue);
    margin-right: 10px;
    font-size: 2rem;
}


.wrapper {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid var(--dark-blue);
    font-style: italic;
    font-size: 4vw;
    line-height: 1.5;
}

.page-section > div {
    flex: 0 0 77%;
    margin-top: 20px;
    line-height: 1.5;
}

.page-section p {
    margin-bottom: 20px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    display: flex;
    align-items: flex-end;
    background-color: var(--aqua-blue);
    background-size: 80%;
    background-repeat: no-repeat;
}

.surf {
    background-image: url(../osaxon/img/surf.jpg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: 90%;
    min-height: 30vw;
    flex: 1 1 100%;
}

@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        text-align: center;
    }

    header nav {
        margin-top: 5%;
        justify-content: center;
    }

    header h1 {
        width: 100vw;
        padding: 5px;
        margin-top: 0;
        font-size: 3rem;
    }

    .page-section > h2 {
        flex: 0 0 100%;
        text-align: left;
        border-right: none;
        font-size: 5rem;
    }

    .page-section > div {
        flex: 0 0 100%;
    }
}

