* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-white: #f1faee;
    --red: rgba(230, 57, 71, 1);
    --dark-blue: #1d3557;
    --light-blue:#457b9d;
    --aqua-blue:#a8dadc;
    --heading-font: 'Press Start 2P', cursive;
    --main-font: 'PT Sans', sans-serif;
}


body {
    margin: 0;
    background-color: var(--primary-white);
}

header {
    padding: 5px;
    min-height: 10vw;
    display: flex;
    background-color: var(--dark-blue);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav {
    background-color: var(--primary-white);
    /* padding: 0 15px; */
    min-height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
}

nav > a {
    transition: all 400ms ease;
    padding-top: 8%;
}

nav > a:hover {
    color: var(--primary-white);
    background: var(--red);
    overflow: hidden;
}

header h1 {
    font-family: var(--heading-font);
    color: var(--primary-white);
}

h2, h3 {
    color: var(--dark-blue);
    font-family: var(--main-font);
    font-size: 2rem;
}


p {
    margin: 0;
    font-family: var(--main-font);
}


a {
    font-family: var(--main-font);
    color: var(--dark-blue);
    font-size: 1.3rem;
    padding-right: 10px;
    padding-left: 10px;
}

.stripe-banner {
    margin-top: 0;
    min-height: 10vw;
    background-image: linear-gradient(45deg, #e63946 10%, #f1faee 10%, #f1faee 20%, #a8dadc 20%, #a8dadc 30%, #457b9d 30%, #457b9d 40%, #1d3557 40%, #1d3557 50%, #e63946 50%, #e63946 60%, #f1faee 60%, #f1faee 70%, #a8dadc 70%, #a8dadc 80%, #457b9d 80%, #457b9d 90%, #1d3557 90%, #1d3557 100%);
    background-size: 141.42px 141.42px;
    background-color: var(--aqua-blue);
    background-blend-mode: overlay;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 2% 4%;
}

.img-me {
    background-image: url(../img/Me.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

/* Contains all other section elements arranged in a column */
.main-flex-wrapper {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
}

/* Used for About Me, My Work and Contact sections */
.section-wrapper {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-wrapper > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid var(--dark-blue);
    font-style: italic;
    font-size: 4vw;
    line-height: 1.5;
}

.section-wrapper > div {
    flex: 0 0 77%;
    margin-top: 20px;
    line-height: 1.5;
}

.section-wrapper p {
    margin-bottom: 20px;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.project {
    border: solid 3px var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--primary-white);
    min-height: 200px;
    max-height: 300px;
    flex: 1 1 40%;
    text-decoration: none;
    font-size: 1.5rem;
    background-attachment: scroll;
    background-blend-mode: multiply;
    background-position: bottom;
    background-size: 120%;
    background-repeat: no-repeat;
}

.project > h3 {
    color: var(--aqua-blue);
    background-color: var(--light-blue);
}

.contact {
    display: flex;
    justify-content: space-between;
}


.project:first-child {
    background-attachment: fixed;
    background-size: 100%;
    min-width: 280px;
    min-height: 280px;
    flex-basis: 100%
}

/* Images for project boxes */
.wwwt {
    background-image: url(../img/surf.jpg);
}

.weather {
    background-image: url(../img/LED.jpg);
}

.quiz {
    background-position: left center;
    background-image: url(../img/calc.jpg)
}

.work {
    background-image: url(../img/pastel.jpg);
}

.pw {
    background-image: url(../img/run.jpg);
}



@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding: 2% 0 0 0%
    }

    nav {
        max-width: 100vw;
        max-height: 10vw;
        flex: 0 0 100%;
    }

    nav > a {
        padding-top: 10px;
    }

    .section-wrapper > h2 {
        flex: 0 0 100%;
        text-align: left;
        border-right: none;
        border-bottom: solid;
        padding-bottom: 5px;
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .section-wrapper > div {
        flex: 0 0 100%;
    }

    .section-wrapper {
        margin-top: 10px;
    }

    
}

@media screen and (max-width: 650px) {
    .project, .project:first-child {
        flex-basis: 100%;
    }

    .project:first-child {
        min-height: 200px;
        min-width: 250px;
        background-attachment: scroll;
        background-size: cover;
    }

    .stripe-banner {
        justify-content: center;
        text-align: center;
    }
}